.SearchItem {
    width: 52%;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
    position: relative;
    margin: 0 auto;
}

.SearchItem input{
    outline: none;
    border: none;
    width: 90%;
    height: 100%;
    font-size: 17px;
}

.SearchItem button{
    float: right;
    padding: 4px 10px;
    background-color: #84c225;
    font-size: 26px;
    border: none;
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 600px) {
    .SearchItem {
        width: 100%;
    }
}